server {
    listen         4567 default_server;
    listen         [::]:4567 default_server;
    server_name    k3s.learning.com www.k3s.learning.com;
    root           /var/www/k3s.learning.com;
    index          index.html;
    try_files $uri /index.html;
}
